main {
    min-height: 80vh;
}

h1 {
    font-size: 3em;
    padding: 1em 0;
}

h2 {
    font-size: 1.8em;
    padding: 1em 0;
}

h3 {
    padding: 1em 0;
}

strong {
    font-size: 1.2em;
    font-weight: 900;
    display: block;
    margin-bottom: 0.5em;
}

strong+p,
p+p {
    margin: 0;
}

.price {
    font-weight: 900;
    font-size: 1.5em;
}

.product-screen-h3 {
    padding: 0;
}


.rating span:nth-child(6) {
    margin-left: 0.2em;
}

p+strong {
    margin-top: 1em;
}